<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>5xx页面</title>
</head>
<body>
5xx页面, 当能够精确匹配到正确的状态码之后就会直接打开正确的状态码对应的页面

<h1 th:text="${status}">status:[[${status}]]</h1>
<h1>timestamp:[[${timestamp}]]</h1>
<h1>exception:[[${excepErrorPageCustomizertion}]]</h1>
<h1>massage:[[${message}]]</h1>
<h1>code:[[${code}]]</h1>
<h1>message:[[${message}]]</h1>

<h1>company:[[${company}]]</h1>
<h1>ext.code:[[${ext.code}]]</h1>
<h1>ext.message:[[${ext.message}]]</h1>

</body>
</html>